<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CD-store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
	<h1 style="margin: 30px">Edit cds</h1>
	<div>
		<form class="form-row; col-sm-3 my-1" th:object="${cd}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			
			<label class="col-sm-4 col-form-label">Title</label>
			<input class="col-7" type="text" th:field="*{title}" />
			<div style="height: 10px;"></div>
			
			<label class="col-sm-4 col-form-label">Artist</label>
			<input class="col-7" type="text" th:field="*{artist}" />
			<div style="height: 10px;"></div>
			
			<label class="col-sm-4 col-form-label">Year</label>
			<input class="col-7" type="text" th:field="*{year}" />
			<div style="height: 10px;"></div>
			
			<label class="col-sm-4 col-form-label">Price</label>
			<input class="col-7" type="text" th:field="*{price}" />
			<div style="height: 10px;"></div>
			
			<label class="col-sm-4 col-form-label" for="catlist">Category</label>
			<select id="deplist" th:field="*{category}" class= "form-controll">
				<option th:each="category:${categories}"
						th:value="${category.categoryid}"
						th:text="${category.name}">
				</option>		
			</select>	
			
			<div style="height: 10px;"></div>
			<label class="col-sm-3 col-form-label"></label>
			<input  type="submit" class="btn btn-success col 7" value="Save"></input>
		</form>
	</div>
</body>
</html>